
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  background-color: #000; 
  color: #fff;
}

h1 {
  width: 1440px;
  height: px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Zen Kurenaido";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 180px;
  margin-bottom: 10px;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: Futura, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h3 {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #000;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px dashed #d1d5db; 
}

.logo {
  width: 180px;
  height: 80px;
  flex-shrink: 0;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;

  color: #fff;
  font-family: Futura, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
}


.highlight-red {
  background: linear-gradient(to bottom, transparent 80%, #ff6a00 80%);
}

.highlight-yellow {
  background: linear-gradient(to bottom, transparent 80%, #fff600 80%);
}

main {
  width: 100%;
  height: 500px;
  background: #1f1f1f;
  display: flex;
  margin: 0 auto;
 padding: 0 357px 0 356px; 
 display: flex;
  justify-content: center; 
  align-items: center;    
  height: 600px;          
}


main h1 {
  color: #fff;
  font-size: 64px;
  line-height: 1.8;
  text-align: center;
  font-family: "Zen Kurenaido";
}

.ttl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 80px 249px 80px 211px;
  background: #1b1b1b;
}

 .avatar {
  aspect-ratio: 1;
  object-fit: cover;
  width: 320px;
  height: 320px;
  border-radius: 50%;
}    

.Works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
  width: 100%;
  height:auto;
  margin: 0 auto;
  padding: 80px 249px 80px 211px;
  background: #000;
}
 
.works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  width: 100%;
  max-width: 1000px;
  margin:40px auto;
  justify-items: center; 
}

.works-grid img {
  width: 100%;
  max-width: 300px; 
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  transition: transform 0.3s ease;
}

footer {
    text-align: center;
    padding: 20px 0; 
    background-color: #000; 
    color: #fff;         
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 80px 249px 80px 211px;
  background: #1b1b1b;}
  

.sns-icons {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 40px;  
  margin-top: 0px;           
}

.sns-icon {
  display: flex;           
  align-items: center;    
  gap: 12px;               
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  transition: transform 0.3s, color 0.3s;
}

.sns-id {
  font-size: 16px;
  color: #fff;
}



